---
layout: default
---
{% assign s = site.data.site %}
<header class="masthead">
  <h1>{{ s.name }}</h1>
  <div class="affiliation">{{ s.role }} &nbsp;·&nbsp; {{ s.department }} &nbsp;·&nbsp; {{ s.institution }}</div>
</header>
<div class="rule"></div>
{% include nav.html row=true %}
<div class="rule"></div>

<div class="grid-home">
  <aside>
    <img class="portrait"
         src="/assets/img/portrait-800.jpg"
         srcset="/assets/img/portrait-800.jpg 800w, /assets/img/portrait-1600.jpg 1600w"
         sizes="(max-width: 760px) 260px, 30vw"
         width="800" height="1038"
         alt="Raunaq Rai">
    {% include contact.html %}
  </aside>
  <div>
    {{ content }}
  </div>
</div>
